<div class="{{classPrefix}}">
  <a class="{{classPrefix}}-close" title="{{__ '关闭'}}" href="javascript:;" data-role="close"></a>
  <div class="{{classPrefix}}-content" data-role="content" data-partial="content"></div>
</div>
